{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/asdproject"
    },
    "cloudant": {
      "db": "https://ountreentshessearyinciet:n5NYBf3QVenaASOLysSg1Wps@cmorath.coudant.com/asdproject"
    }
  }
}
